<!-- sign in/Sessions page -->
<!-- users returning to the application -->

<%= form_for :session, url: session_path do |form| %>
    <!-- fields users will fill to re enter the site -->
    <div class = "container-fluid">
      <div class = "row jumbotron">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-group">          
              <%= form.text_field :email, :class => "form-control",required: true, :placeholder => "Email"%>  
            <!--  -->                         
              <%= form.password_field :password , :class => "form-control",required: true, :placeholder => "Password"%>          
            </div>
            <div class="submit-field">
                  <%= form.submit "Sign in", :class => "btn btn-block btn-primary"  %>
              </div>
        </div>
        
        
         
      </div>
    </div>
  
            <div class = "container-fluid">
                <div class = "row">          
                    <div class="col-md-12">
                      <center> 
                        <div class="other-links">
                          <!-- clearance handling sessions to allow sign in -->
                          <% if Clearance.configuration.allow_sign_up? %>
                            <%= link_to t(".sign_up"), sign_up_path %> |  
                          <% end %>
                          <%= link_to t(".forgot_password"), new_password_path %>
                        </div> 
                      </center>
                    </div>
                </div>
            </div>


<% end %>
