<%= form_for @score, html: { multipart: true } do |f| %>
  <% if @score.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger" role="alert"><h4><%= pluralize(@score.errors.count, "error") %> prohibited this score from being saved:</h4></div>

      <ul>
      <% @score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class ="container jumbotron">
      <div class ="row">
        <div class="col-md-4">
          <div class="field">
            <%= f.label :strokes %><br>
            <%= f.number_field :strokes , :class => "form-control",required: true, :placeholder => "Strokes"%>
          </div>
        </div>
        <div class="col-md-4">  
          <div class="field">
            <%= f.label :course %><br>
            <%= f.text_field :course, :class => "form-control",required: true, :placeholder => "Course" %>
          </div>
        </div>
        <!--  -->

        <div class="col-md-4">  
          <!-- <div class="field"> -->
            <%= f.label :Upload_an_Image %><br>
            <%= f.file_field :image %>
          <!-- </div> -->
        </div>
      </div>
          <div class="submit-field">
            <br> <%= f.submit "Enter Score", :class => "btn btn-primary"%>
          </div>
    </div>
<% end %>
