<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>


  <!--  <meta http-equiv="refresh" content="60" > -->    <!-- Auto-refresh --> 

<!-- page where stats, scores and graphs are shown -->
<div class="page-header">
  <center>
    <h1>Performance Analysis <small>View and add scores, statistics and graphs. </small></h1>
  </center>       <!--  -->
</div>
  <div class ="container">
    <div class ="row"> 
        <div class="col-md-12">   
              <div class="table-responsive">
                <table  id = "scores" class="table condensed">  <!-- add proper styling -->
                   <div class="panel panel-info">
                            <div class="panel-heading">
                              <h1>Scores</h1>
                            </div>
                            <div class="panel-body">
                               <h5 class = "lead">See your last 5 scores below. Add a score by clicking 'new score', view and edit the details by clicking the buttons below.</h5> <%= link_to 'New Score', new_score_path(:user_id => current_user.id), :class => "btn btn-info" %></h2>
                               
                              
                            </div>
                                  <!-- scores table -->
                                   <thead>
                                    <%= will_paginate @scores %>
                                        <tr>
                                          <th>Score:</th>
                                          <th>Date added:</th>
                                          <th colspan="3"></th>
                                        </tr>
                                  </thead>
                                    
                                        <tbody>
                                          <% @scores.each do |score| %>
                                            <tr>
                                              <td><%= score.strokes %></td>
                                              <td><%= score.created_at.strftime("%d %b. %Y")%></td>
                                              <td><%= link_to '  ', score, {:class => "btn btn-primary glyphicon glyphicon-eye-open hidden-xs hidden-sm hidden-md" , 'data-toggle' => 'modal','data-target' =>'#myModal'}%></td> 
                                              <td><%= link_to '  ', score, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger glyphicon glyphicon-trash"%></td>
                                          
                                            </tr> 
                                          <% end %>
                                        </tbody>     
                </div>
                </table>
                  
              </div>        
        </div>
       

        <!-- As seen in the controller, the index method handles the logic, the view displays the components that the user understands -->


         <div class ="col-md-12 hidden-xs hidden-sm hidden-md">                         
               <div class="panel panel-success">
                    <div class="panel-heading">
                    <h1>Stats</h1>
                    </div>
                    <div class="panel-body">
                          <h5 class = "lead">Click the button above to have your statistics generated.</h5>
                          <hr>
                        <p>   
                          Scores:
                            <strong><%= @map %></strong>
  
                          </p>
                          <p>
                            Range:  
                            <% if @range == nil %>
                            0
                            <% else %>
                              <strong><%= @range.round %></strong> (Spread of score)
                            <% end %>
                          </p>
                          <p>
                          Mean Value:
                            <% if @avg == nil %> 
                            0
                            <% else %>
                              <strong><%= @avg.round %></strong> (Stroke Average)
                            <% end %>
                          </p>
                    </div>
                </div>
          </div>   

                <div class = "hidden-xs hidden-sm hidden-md">
                  <div class = "container">
                    <div class = "row">
                      <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h1> Graph </h1>
                            </div> 
                              <div class="panel-body">
                                    <h5 class = "lead">  Here are your scores in a line graph layout. </h5>
                                    <!-- id calling the scores.coffee file to display data  -->
                                    <div id="myfirstchart" style="height: 300px; width: 100%" ></div>
                              </div>
                        </div>     
                        
                      </div>
                    </div>
                  </div>
                </div>  

        </div>
    </div>
  </div>
<br>

                </div>
               
            </div>

          </div>

<center>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
     
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
        <%= link_to 'Close', 'data-dismiss' => '#myModal', :class => 'btn btn-default' %></p>
      
        
      
      
    </div>
  </div>
</div>
</div>
</center>

