<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>




<div class="page-header">
  <center>
    <h1>Performance Analysis <small>View and add scores, statistics and graphs. </small></h1>
  </center>       <!--  -->
</div>
  <div class ="container">
    <div class ="row"> 
        <div class="col-md-6 ">   
              <div class="table-responsive">
                <table  id = "scores" class="table condensed" style="width:70%">  <!-- add proper styling -->
                   <div class="panel panel-info">
                            <div class="panel-heading">
                              <h1>Scores</h1>
                            </div>
                            
                            <div class="panel-body">
                               <h2><small>See your last 2 scores below. Add a score by clicking 'new score', view and edit the details by clicking the buttons below.</small> <%= link_to 'New Score', new_score_path(:user_id => current_user.id), :class => "btn btn-info" %></h2>
                               
                              
                            </div>
                                  
                                   <thead>
                                        <tr>
                                          <th>Strokes:</th>
                                          <th>Created on:</th>
                                          <th colspan="3"></th>
                                        </tr>
                                  </thead>

                                        <tbody>
                                          <% @scores.each do |score| %>
                                            <tr>
                                              <td><%= score.strokes %></td>
                                              <td><%= score.created_at.strftime("%d %b. %Y")%></td>
                                              <td><%= link_to '  ', score, {:class => "btn btn-primary glyphicon glyphicon-eye-open" , 'data-toggle' => 'modal','data-target' =>'#myModal'}%></td> 
                                              <td><%= link_to '  ', score, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs glyphicon glyphicon-trash"%></td>
                                          
                                            </tr> 
                                          <% end %>
                                        </tbody>     
                </div>
                                 

                </table>
                 
              </div>
              
        </div>
       
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
<center>  
    <div class="modal-content">
      <!-- <div class="modal-header"> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!-- <h4 class="modal-title" id="myModalLabel">Modal title</h4> -->
      <!-- </div> -->
      <div class="modal-body">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      <div class="modal-footer">
        
        
      </div>
    </div>
  </div>
</center>
</div>




        <div class ="col-md-6">                         
               <div class="panel panel-success">
                    <div class="panel-heading">
                    <h1>Stats <button class ="btn btn-success">View Stats</button></h1>
                    </div>
                    <div class="panel-body">
                           <h5 class = "lead">Click the button below to have your statistics generated.</h5>

                        <p>   
                          Map:
                            <%= @map %>
  
                          </p>
                          <p>
                          Mean Value:
                            <%= @avg %>

                          </p>  
                          <p>
                          Median: 
                            <%= @median %>
                          </p>
                           <p>
                          Confidence Interval:

                          </p>
                          <p>
                          Standard Deviation:
                            <%= @stDev %>
                          </p>
                          <p>
                          Variance:  
                            <%= @variance %>
                          </p>
                          
                          
                            
                    </div>
                </div>
                  
                <br>
          </div>            
        </div>
    </div>
  </div>
<br>



  

  <body>
    <div class ="container">
      <div class ="row"> 
        <div class="col-md-6">
       
                 <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3> Graph </h3>
                    </div>  
                        <h5 class = "lead"> Here are your scores in a graph layout. </h5>
                        <%= content_tag :div, "", id: "scores_chart", data: {scores: @scores} %>
                        <center><div id="myfirstchart" style="height: 250px; width: 70%" ></div></center>
                  </div>       
             </div>
            <div class="col-md-6">
       
                 <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3> Donut </h3>
                    </div>  
                        <h5 class = "lead"> Your Total number of Scores is <%= @scores_donut %>
                  </h5>
                        
                  </div>        
             </div>
        </div>
    </div>
  </body>


 

<!-- stats script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("p").hide();

    $("button").click(function(){
        $("p").show(600);
    });
});
</script>
<script>
$(document).ready(function(){
    $("scores").hide();

    $("button").click(function(){
        $("scores").show(600);
    });
});
</script>


<script>
// new Morris.Line({

//   element: 'scores_chart',

//   data: $('#scores_chart').data('scores')

//   xkey: 'created_at',

//   ykeys: ['strokes'],

//   labels: ['Scores']
// });


new Morris.Line({
  // ID of the element in which to draw the chart.
  element: 'myfirstchart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: [
    { year: '2008', score: 90 },
    { year: '2009', score: 70 },
    { year: '2010', score: 100 },
    { year: '2011', score: 100 },
    { year: '2012', score: 120 }
  ],
  // The name of the data record attribute that contains x-scores.
  xkey: 'year',
  // A list of names of data record attributes that contain y-scores.
  ykeys: ['score'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['Score']
});
</script>



