<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>


  <!--  <meta http-equiv="refresh" content="60" > -->    <!-- Auto-refresh --> 


<div class="page-header">
  <center>
    <h1>Performance Analysis <small>View and add scores, statistics and graphs. </small></h1>
  </center>       <!--  -->
</div>
  <div class ="container">
    <div class ="row"> 
        <div class="col-md-6 ">   
              <div class="table-responsive">
                <table  id = "scores" class="table condensed" style="width:65%">  <!-- add proper styling -->
                   <div class="panel panel-info">
                            <div class="panel-heading">
                              <h1>Scores</h1>
                            </div>
                            <div class="panel-body">
                               <h5 class = "lead">See your last 5 scores below. Add a score by clicking 'new score', view and edit the details by clicking the buttons below.</h5> <%= link_to 'New Score', new_score_path(:user_id => current_user.id), :class => "btn btn-info" %></h2>
                               
                              
                            </div>
                                  
                                   <thead>
                                        <tr>
                                          <th>Strokes:</th>
                                          <th>Created on:</th>
                                          <th colspan="3"></th>
                                        </tr>
                                  </thead>

                                        <tbody>
                                          <% @scores.each do |score| %>
                                            <tr>
                                              <td><%= score.strokes %></td>
                                              <td><%= score.created_at.strftime("%d %b. %Y")%></td>
                                              <td><%= link_to '  ', score, {:class => "btn btn-primary glyphicon glyphicon-eye-open" , 'data-toggle' => 'modal','data-target' =>'#myModal'}%></td> 
                                              <td><%= link_to '  ', score, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger glyphicon glyphicon-trash"%></td>
                                          
                                            </tr> 
                                          <% end %>
                                        </tbody>     
                </div>
                </table>
              </div>        
        </div>
       


        <div class ="col-md-6">                         
               <div class="panel panel-success">
                    <div class="panel-heading">
                    <h1>Stats <button class ="btn btn-success">View Stats</button></h1>
                    </div>
                    <div class="panel-body">
                          <h5 class = "lead">Click the button below to have your statistics generated.</h5>
                          <hr>
                        <p>   
                          Scores:
                            <strong><%= @map %></strong>
  
                          </p>
                          <p>
                            Range:  
                            <% if @range == nil %>
                            0
                            <% else %>
                              <strong><%= @range.round %></strong> (Difference between best score and worst score)
                            <% end %>
                          </p>
                          <p>
                          Mean Value:
                            <% if @avg == nil %> 
                            0
                            <% else %>
                              <strong><%= @avg.round %></strong> (Sum total of all scores, divided by total number of scores)
                            <% end %>
                          </p>  
                          <p>
                          Median: 
                            <% if @median == nil %>
                            0
                            <% else %>
                              <strong><%= @median.round %></strong> (Measure of central tendancy. 50% of scores above, 50% below)
                            <% end %>
                            
                          </p>
                          <p>
                          Standard Deviation:
                            <% if @stDev == nil %>
                            0
                            <% else %>
                              <strong><%= @stDev.round %></strong> (Measure of how likely scores will differ from the mean.)
                            <% end %>
                          </p>
                          <p>
                          Variance:  
                            <% if @variance == nil %>
                            0
                            <% else %>
                              <strong><%= @variance.round %></strong> (The average of the squared differences from the mean)
                            <% end %>
                            </p>
                            
                          
                          
                            
                    </div>
                </div>
                  
                <br>
          </div>            
        </div>
    </div>
  </div>
<br>



  
 
 
 


 



    <div>

              <br>
              <!-- Tab panes -->
           
                  <div class ="container">
                    <div class ="row">
                      <div class="col-md-6">
                        
                          <div class="panel panel-primary">
                                    <div class="panel-heading">
                                      <h1> Graph </h1>
                                    </div> 
                              <div class="panel-body">
                                    
                                    <h5 class = "lead">  Here are your scores in a bar chart layout. </h5> 
                                     
                                      <div id="mysecondchart" style="height: 250px; width: 100%" ></div>
                              </div>
                          </div> 
                    </div>
                    
                

                
                
            
                    
                      <div class="col-md-6">
                        <div class="panel panel-warning">
                              <div class="panel-heading">
                                <h1> Graph </h1>
                              </div> 
                              <div class="panel-body">
                                    <h5 class = "lead">  Here are your scores in a line graph layout. </h5>
                                    
                                    <div id="myfirstchart" style="height: 250px; width: 100%" ></div>
                              </div>
                        </div>     
                        
                      </div>
                    </div>
                    </div>
                </div>

                </div>
               
            </div>

          </div>



























<!-- stats script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("p").hide();

    $("button").click(function(){
        $("p").show(900);
    });
});
</script>
<script>
$(document).ready(function(){
    $("scores").hide();

    $("button").click(function(){
        $("scores").show(900);
    });
});
</script>


<!-- Modal -->
<center>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
     
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
        <%= link_to 'Close', 'data-dismiss' => '#myModal', :class => 'btn btn-default' %></p>
      
        
      
      
    </div>
  </div>
</div>
</div>
</center>

