<p id="notice"><%= notice %></p>

<div class="page-header">
  <center>
    <h2>Stats</h2>
  </center>       <!--  -->
</div>



<table>
  <thead>
    <tr>
      <th>Strokes</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.strokes %></td>
        <td><%= score.course %></td>
        <td><%= link_to 'Show', score %></td>
        <td><%= link_to '', edit_score_path(score), :class => "glyphicon glyphicon-pencil"%></td>
        <td><%= link_to '', score, method: :delete, data: { confirm: 'Are you sure?' }, :class => "glyphicon glyphicon-trash"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Score', new_score_path %>
