<!-- <p class"alert alert-info "id="notice"><%= notice %></p> -->


<div class="page-header">
  <center>
    <h2>Score Details</h2>
  </center>       <!--  -->
</div>


<div class = "container-fluid"> 
  <div class = "row">      
          <div class="col-md-4">
            <div class = "well well">
              <p>
              <strong>Created:</strong>
                <%= @score.created_at.strftime("%d %b. %Y") %>
              </p>
              <p>
              <strong>Last Updated:</strong>
                <%= @score.updated_at.strftime("%H:%M - %d %b. %Y") %>
              </p>
              <p>
                <strong>Strokes:</strong>
                <%= @score.strokes %>
              </p>

              <p>
                <strong>Course:</strong>
                <%= @score.course %>
              </p>

              <%= link_to 'Edit', edit_score_path(@score) %> |
              <%= link_to 'Back', scores_path %>
            </div>
          </div>
          <div class="col-md-6">
                <div >
                <center>  
                 <!--  <%= image_tag @score.image.url(:large) %> -->

                    <% if @score.image.file? %>
                      <%= image_tag @score.image.url(:medium) %>
                    <% else %>
                        <div class="col-md-8">
                        <p class = "lead">
                        Birdie the 3rd in Royal County Down or get through Amen Corner bogey free? Upload a picture to remember it. 
                        </p> 
                       </div>
                    <% end %>

                </center>
                </div>
          </div>
     
  </div>
  <br>
  

</div>

