<!-- <p class"alert alert-info "id="notice"><%= notice %></p> -->


<div class="page-header">
  <center>
    <h2>Score Details</h2>
  </center>       <!--  -->
</div>
<div class = "container-fluid">
  <%= link_to 'Edit', edit_score_path(@score) %> |
  <%= link_to 'Back', scores_path %>
  <br>
  <div class = "row">      
          <div class="col-md-4">
            <div class = "well well">
              <p>
              <strong>Created:</strong>
                <%= @score.updated_at.strftime("%d %b. %Y") %>
              </p>
              <p>
              <strong>Last Updated:</strong>
                <%= @score.updated_at.strftime("%H:%M") %>
              </p>
              <p>
                <strong>Strokes:</strong>
                <%= @score.strokes %>
              </p>

              <p>
                <strong>Course:</strong>
                <%= @score.course %>
              </p>
            </div>
          </div>
          <div class="col-md-6">
                <div class = "well well">
                <center>  
                  <%= image_tag @score.image.url(:large) %>
                </center>
                </div>
          </div>
     
  </div>
  <br>
  <%= link_to 'Edit', edit_score_path(@score) %> |
  <%= link_to 'Back', scores_path %>

</div>

