

<!-- <p class="alert alert-info "id="notice"><%= notice %></p> -->

<!-- 
<div class="page-header">
  <center>
    <h1>Score Details</h1>
  </center>       
</div>
 -->
<center>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
       <% if @score.image.file? %>
                      <%= image_tag @score.image.url(:large) %>
        <% else %>
                      <div>
                          <p> 
                            <br><br><br><br><br><br>
                           Click Edit to upload a picture to remember the day. 
                            <br><br><br><br><br><br>
                            <hr>
                          </p> 
                      </div>
        <% end %>
       
      <div class="caption">
        <h3>Details</h3>
        <p>
             
              <p>
                <strong>Strokes:</strong>
                <%= @score.strokes %>
              </p>

              <p>
                <strong>Course:</strong>
                <%= @score.course %>
              </p>
               <strong>Created:</strong>
                <%= @score.created_at.strftime("%d %b. %Y") %>
              </p>
              <p>
              <strong>Last Updated:</strong>
                <%= @score.updated_at.strftime("%H:%M - %d %b. %Y") %>
              </p>
        <p><%= link_to 'Edit', edit_score_path(@score) %> |
              <%= link_to 'Performance', scores_path %></p>
              
      </div>
    </div>
  </div>
</div>
</center>


                 
                 <!--  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>  -->


