<!-- <p class"alert alert-info "id="notice"><%= notice %></p> -->
	<div class="container">
        <% flash.each do |key, value| %>
          <div class="alert alert-info" role="alert">
            <strong><%= value %></strong>
          </div>
    </div>

        <% end %>
<hr>
<p>
  <strong>Strokes:</strong>
  <%= @score.strokes %>
</p>

<p>
  <strong>Course:</strong>
  <%= @score.course %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
