<!-- <p class"alert alert-info "id="notice"><%= notice %></p> -->

<!-- 
<div class="page-header">
  <center>
    <h1>Score Details</h1>
  </center>       
</div>
 -->

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
       <% if @score.image.file? %>
                      <%= image_tag @score.image.url(:medium) %>
        <% else %>
                      <div>
                          <p class = "lead">
                          Birdie the 3rd in Royal County Down or get through Amen Corner bogey free?
                          </p>
                          <p> 
                          Upload a picture to remember it. 
                          </p> 
                      </div>
        <% end %>
       
      <div class="caption">
        <h3>Details</h3>
        <p>
              <strong>Created:</strong>
                <%= @score.created_at.strftime("%d %b. %Y") %>
              </p>
              <p>
              <strong>Last Updated:</strong>
                <%= @score.updated_at.strftime("%H:%M - %d %b. %Y") %>
              </p>
              <p>
                <strong>Strokes:</strong>
                <%= @score.strokes %>
              </p>

              <p>
                <strong>Course:</strong>
                <%= @score.course %>
              </p>
        <p><%= link_to 'Edit', edit_score_path(@score) %> |
              <%= link_to 'Performance', scores_path %></p>
      </div>
    </div>
  </div>
</div>

