<!-- sing up -->
<div class = "container-fluid jumbotron">
	<div class = "row">
		<div class="col-md-4">
				<div class="form-group">
				  <%= form.label :email %>
				  <%= form.text_field :email, type: 'email' %>
				</div>
		</div>

		<div class="col-md-4">
				<div class="form-group">
				  <%= form.label :password %>
				  <%= form.password_field :password %>
				</div>
		</div>
		<div class="col-md-4">
				<div class="submit-field">
      			  <%= form.submit %>
    			</div>


		</div>

	</div>
</div>