<div id="landing">
	
	
			<% if signed_out? %>
				<!-- <div class="page-header">
						<center>
							<h1>The Scoreboard</h1>
						</center>
							
				</div> -->
				<div>
					<center>
						
						<%= image_tag("Logo_Header.png", :alt => "rss feed", :class => "img-responsive") %>
						<hr>
						<p class= "lead">Golf is the only sport where you can play against yourself. So why not keep track of how well you’re competing! </p>
						<br>
						<%= link_to "Sign-Up", '/sign_up' ,:class => "btn-lg btn-info"%>
							
					</center>										
				</div>
				<div> 

				</div>
					    <% else %>
						
							<center>
								<%= image_tag("Logo_Header.png", :alt => "rss feed", :class => "img-responsive") %>
							</center>
						
						<hr>
					<div>
					
  							<!-- Nav tabs -->
						  <ul class="nav nav-tabs" role="tablist">
						    <li role="presentation" class="active"><a href="#score" aria-controls="score" role="tab" data-toggle="tab">Enter A Score</a></li>
						    <li role="presentation"><a href="#Performance" aria-controls="Performance" role="tab" data-toggle="tab">Performance</a></li>
						   
						  </ul>
							<br>
						  <!-- Tab panes -->
						<div class="tab-content">
						    <div role="tabpanel" class="tab-pane fade in active" id="score">
						    	<div class ="container">
    								<div class ="row">
		    							<div class="col-md-6">
								    		
								    		<center>	
								    		<h4>Click on the button below to enter your latest scores. You can even add a picture of your score card, or you and your golf buddies on your latest trip</h4>
								    		<%= link_to "Enter Score", 'scores/new' ,:class => "btn btn-primary"%>
								    		
								    		</center>
								    	</div>
								    </div>
								</div>

						    </div>
						    <div role="tabpanel" class="tab-pane fade in" id="Performance">
						    	<div class ="container">
    								<div class ="row">
		    							<div class="col-md-6">
								    		
								    		<center>	
								    		<h4>Click on the button below to view your personal dashboard including Scores, Stats and Graphs</h4>
								    		<%= link_to "Performance", 'scores/index' ,:class => "btn btn-success"%>
								    		
								    		</center>
								    	</div>
								    </div>
								</div>

						    </div>
						   
						</div>

					</div>


						<br><br><br>
						<br><br><br>
					<section>
						<div class ="container">
    						<div class ="row">
    							<div class="col-md-6"> 
    								<a class="twitter-timeline" href="https://twitter.com/Your_Scoreboard" data-widget-id="713426832545202176">Tweets by @Your_Scoreboard</a>
										<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>				
								</div>

								<div class="col-md-6"> 
									<div class="fb-page" data-href="https://www.facebook.com/The-Scoreboard-229275324091425/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
							</div>
						</div>
					</div>

					<div id="fb-root"></div>
									<script>(function(d, s, id) {
								  	var js, fjs = d.getElementsByTagName(s)[0];
								  if (d.getElementById(id)) return;
								  js = d.createElement(s); js.id = id;
								  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
								  fjs.parentNode.insertBefore(js, fjs);
								}(document, 'script', 'facebook-jssdk'));</script>
					</section>
							
					<% end %>
	<!-- </div> -->
</div>

					
			
			
		
			
		
