<!-- Add a profile function .... Profile pic, then do the add scores (Scaffold) and graphing functions -->

<div class="page-header"><h1>Profile</h1></div>



	<div class = "container">
		<div class="row">
			<div class="col-md-3 well well">
				<h2>Profiler</h2>
				<!-- <br><hr> -->
				<%= link_to ' Edit','#', :class => "glyphicon glyphicon-camera" %>
			</div>
			<div class="col-md-3 well well">
				 <h2>Royal Co. Down</h2>
				 <%= link_to ' Home Club ', '#', :class => 'btn btn-primary btn-xs' %>
			</div>
			<div class="col-md-3 well well">
				<h2>Handicap: 12</h2>
				<%= link_to ' Edit', '#', :class => 'btn btn-primary btn-xs' %>
				<!--<%= link_to image_tag("images/edit45.png"), '#' %>-->
			</div>
		</div>

		<div class="row">
			<!-- <div class="col-xs-3">
				
			</div>
			<div class="col-xs-3">
				 
			</div>
			<div class="col-xs-3">
				
			</div>
			<div class="col-xs-3">
				<center>	
				<%= link_to 'Edit Profile', '#', :class => 'btn btn-default' %>
				</center>
			</div> -->
		</div>
	</div>