<div id="clearance" class="password-reset">
 
<div class="page-header">
      <center>
        <h1><%= t(".title") %></h1>
      </center>
    </div>
  

  <!-- <p><%= t(".description") %></p> -->

  <%= form_for :password, url: passwords_path do |form| %>
      <div class ="container"> 
        <div class = "row"> 
          <p><%= t(".description") %></p>
          <div class="col-md-4">

            <div class="text-field">     
              <%= form.text_field :email, type: 'email', :class => "form-control",required: true, :placeholder => "Email"%>
              <br>
              <div class="submit-field">
                <%= form.submit "Submit", :class => "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <br>
    <!-- <div class="submit-field">
      <%= form.submit "Submit", :class => "btn btn-primary" %>
    </div> -->
  <% end %>
</div>
