<!DOCTYPE html>
<html>
<head>
  <title>Scoreboard</title>
 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Scoreboard', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar">
    
    </div>

     <ul class="nav navbar-nav pull-right">
    <% if signed_in? %>
        <li><%= link_to 'Live Feed', '#', :class => 'nav navbar-nav pull-right' %></li> 
        <li><%= link_to 'Profile', new_page_path, :class => 'nav navbar-nav pull-right' %></li> 
        <li><%= link_to 'Stats', new_page_path, :class => 'nav navbar-nav pull-right' %></li>
        <li><%= link_to 'Enter a score', '/pages/score', :class => 'nav navbar-nav pull-right'  %></li>
      <li><%= link_to 'Sign out', sign_out_path, method: :delete , :class => 'nav navbar-nav pull-right'%></li>
      <!-- <li style="color:grey"><span>Current:<%= current_user.email %></span></li> -->
    <% else %>
      
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
      <li><%= link_to 'Sign in', sign_in_path %></li>

      <% end %>
  
  </ul>
  </div>
 
</nav>

      <% if signed_in? %>
        <div class="container">
          <div class= "row">
            <div class="col-md-11">
  
            </div>
            <div class="col-md-1"><span style="color:grey">Welcome:<%= current_user.email %></span>
            </div>         
          </div>
        </div>
      <% end %>

      
      <!-- error message -->
      <div class="container">
        <% flash.each do |key, value| %>
          <div class="alert alert-danger alert-dismissible" role="alert">
            <strong><%= value %></strong>
          </div>

        <% end %>


  <%= yield %>

</body>
</html>
