<!DOCTYPE html>
<html>
<head>
  <title>Scoreboard</title>
 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Scoreboard', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar">
    
    </div>

     <ul class="nav navbar-nav pull-right">
    <% if signed_in? %>
        <li><%= link_to 'Live Feed', '#', :class => 'nav navbar-nav pull-right' %></li> 
        <li><%= link_to 'Profile', new_page_path, :class => 'nav navbar-nav pull-right' %></li> 
        <li><%= link_to 'Stats', new_page_path, :class => 'nav navbar-nav pull-right' %></li>
        <li><%= link_to 'Enter a score', '/enter_scores/new', :class => 'nav navbar-nav pull-right'  %></li>
      <li><%= link_to 'Sign out', sign_out_path, method: :delete %></li>
      <li style="color:grey"><span>Signed in as:<%= current_user.email %></span></li>
    <% else %>
      <!--Add a button for "about page" that scrolls down --> 
      <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
      <li><%= link_to 'Sign in', sign_in_path %></li>
      
     

      <% end %>
  </ul>
  </div>

 
</nav>

<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
<!-- </div> -->
  <% end %>

   <!--  <div id="navbar">
      <% if signed_in? %>
        <ul class="nav navbar-nav pull-right ">
          <li><%= link_to 'Profile', new_page_path %></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to 'Stats', new_page_path %></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to 'Enter a score', '/enter_scores/new' %></li>
        </ul>
    </div>
  <% end %> -->



  <%= yield %>

</body>
</html>
