<!DOCTYPE html>
<html>
<head>
  <title>Scoreboard</title>
 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<nav class="navbar navbar-inverse ">   <!-- navbar-fixed-top... Not needed-removes constant -->
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <div class="navbar-header">
          
          <%= link_to 'Scoreboard', "/", class: 'navbar-brand' %>
        </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <% if signed_in? %>
             <!--  <li><%= link_to 'Leaderboard', '/pages/leaderboard', :class => 'nav navbar-nav ' %></li>  -->
             <!-- <li><%= link_to 'Profile', '/pages/profile', :class => 'nav navbar-nav ' %></li>  -->
              <li><%= link_to 'Enter a score', '/scores/new', :class => 'nav navbar-nav '  %></li>
              <li><%= link_to 'Performance', '/scores/index', :class => 'nav navbar-nav ' %></li>
              <li><%= link_to 'Sign out', sign_out_path, method: :delete , :class => 'nav navbar-nav'%></li>
          <% else %>
              <li><a class="page-scroll"  href="welcome/about">About</a></li>
              <li><a class="page-scroll" href="#Recommendations">Recommendations</a></li>
              <li><%= link_to 'Contact Us', '/contacts/new', :class => 'nav navbar-nav '  %></li>
              <li><%= link_to 'Sign in', sign_in_path %></li>
      <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<br>
      <% if signed_in? %>
        <div class="container">
          <div class= "row">
            <div class="col-md-11">
  
            </div>
            <div class="col-md-1"><span style="color:grey">Welcome: <%= current_user.email %></span>
            </div>         
          </div>
        </div>
      <% end %>

      <!-- error message -->
      <div class="container">
        <% flash.each do |key, value| %>
          
            <strong><%= value %></strong>
          
        <% end %>
  <%= yield %>

</body>
</html>
